@import "../../../../styles/styles";

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  .left {
    p {
      @include textStyles($raleway, 12px, 700, #595959, 16px);
      letter-spacing: 0.4px;
    }
    h3 {
      @include textStyles($raleway, 24px, 800, #000, 32px);
      letter-spacing: 0.4px;
    }
  }
  .filter {
    display: flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--Base-base-3, #f6f7f6);
    transition: $transition;
    cursor: pointer;
    &:hover {
      background: var(--Main-main-50, #ecffed);
    }
    p {
      @include textStyles($raleway, 14px, 700, #000, 24px);
      letter-spacing: 0.4px;
    }
  }
}
