@import "../../styles/styles";

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  p {
    @include textStyles($inter, 14px, 500, #8c8c8c, 20px);
    text-align: center;
    letter-spacing: 0.4px;
  }
  .right {
    p.active {
      font-weight: 700;
      color: #000;
    }
  }
  > div {
    display: flex;
    gap: 10px;
    cursor: pointer;
    .show_range {
      padding-left: 24px;
      display: flex;
      gap: 10px;
    }
  }
}
