.container {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.loginContainer {
  margin: -20px 0 0 130px;
  .main {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    .characters {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      div {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        &:nth-child(1) {
          p {
            color: #1d2b21;
            font-family: Raleway;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.4px;
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          p {
            color: #1d2b21;
            font-family: Raleway;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.4px;
          }
        }
      }
    }
    .buttonElement {
      margin-top: 22px;
      .letsGoButton {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        border-radius: 12px;
        background: #7dff85;
        transition: all 0.3s ease;
        color: #000;
        cursor: pointer;
        &:hover {
          background-color: #2bb534;
          color: white;
          .arrowRight {
            filter: invert(100%);
            transition: all 0.3s ease;
          }
        }
        p {
          font-family: Raleway;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.4px;
        }
      }
    }
    .sendAgain {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      align-self: stretch;
      margin-top: 32px;
      p {
        color: #3f4b42;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4px;
      }
      .sendButton {
        display: flex;
        padding: 2px 8px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 8px;
        background: transparent;
        border: none;
        color: #1d2b21;
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.4px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: #ecf1ff;
          color: #7da1ff;
          line-height: 24px;
        }
      }
    }
  }
}
.imgContainer {
  background-color: #3dff49;
  width: 45%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .microImg {
    opacity: 0.9;
    mix-blend-mode: multiply;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .microText {
    position: absolute;
    bottom: 65px;
    left: 80px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    h2 {
      color: Natural-natural-1, #fff;
      font-family: Raleway;
      font-size: 56px;
      font-style: normal;
      font-weight: 900;
      line-height: 55px;
      letter-spacing: 0.4px;
    }
    button {
      display: flex;
      padding: 10px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      background-color: transparent;
      border-radius: 8px;
      border: 2px solid #fff;
      transition: all 0.3s ease;
      &:hover {
        border-radius: 8px;
        background-color: #2bb534;
      }
      p {
        color: #fff;
        font-family: Raleway;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.4px;
      }
    }
  }
}
.accountСreation {
  display: flex;
  flex-direction: column;
  h1 {
    margin-bottom: 10px;
    color: #1d2b21;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.4px;
    span {
      color: #38e842;
      font-weight: 900;
      letter-spacing: 0.4px;
      font-size: 40px;
    }
  }
  .accountAlready {
    display: flex;
    align-items: center;
    p {
      color: #6c756f;
      font-family: Raleway;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.4px;
    }
    .loginButton {
      display: flex;
      padding: 2px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #000;
      font-family: Raleway;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.4px;
      border-radius: 8px;
      transition: all 0.3s ease;
      &:hover {
        background-color: #ecf1ff;
        color: #7da1ff;
      }
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .nameSurname {
    display: flex;
    gap: 24px;
    .input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 9px;
      .label {
        color: #1d2b21;
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 12px;
        letter-spacing: 0.4px;
      }
      input {
        display: flex;
        padding: 16px 40px 16px 18px;
        align-items: center;
        gap: 4px;
        align-self: stretch;
        border-radius: 12px;
        border: 1px solid #dddfde;
        background-color: #fdfdfd;
        margin: 8px 0;
        letter-spacing: 0.4px;
        font-family: Raleway;
        font-size: 14px;
        line-height: 24px;
      }
      img {
        transform: translate(180px, -47px);
      }
    }
  }
  .inputEmail {
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: relative;
    width: 100%;
    .label {
      color: #1d2b21;
      font-family: Raleway;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 12px;
      letter-spacing: 0.4px;
    }
    img {
      width: 24px;
      height: 24px;
      transform: translate(417px, -45px);
    }
  }
}
.inputE {
  border: 1px solid #dddfde;
  border-radius: 12px;

  input {
    width: 100%;
    display: flex;
    padding: 16px 45px 16px 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 12px;
    width: 100%;
    outline: none;
    border: none;

    background-color: #fdfdfd;
  }
}

.invalid {
  border: 1px solid red;
  border-radius: 12px;
}

.loginLabel {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: #1d2b21;
}
.LoginInput {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #99a09b;
  font-size: 35px;
  text-align: center;
  margin-left: 10px;
}
/* Скрываем стрелки у всех input типа number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputMessageIcon {
  transform: translate(455px, -40px);
  width: 24px;
  height: 24px;
}
.buttonElement {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  margin: 32px 0 0 0;
  img {
    width: 24px;
    height: 24px;
  }
}
.inputContainer {
  display: flex;
  margin: 32px 0 0 -11px;
  ::placeholder {
    color: #99a09b;
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-align: center;
  }
}
.sendButton {
  display: flex;
  padding: 16px 35px;
  margin-left: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background: #7dff85;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #2bb534;
    color: white;
  }
}
