@import "../../../../Scss/responsive.scss";
.backButton {
  margin-bottom: 40px;
}
.accountСreation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: container 1.5s ease-in-out;
  h1 {
    color: #1d2b21;
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.4px;
    margin: 0 0 10px 0;
  }
}
@keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.accountAlready {
  display: flex;
  align-items: center;
  p {
    color: #6c756f;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
  }
  img {
    width: 24px;
    height: 24px;
  }
}
.formContainer {
  width: 500px;
  animation: moveRight 0.5s linear;
}
@-webkit-keyframes moveRight {
  0% {
    transform: translateX(-190px);
  }
  100% {
    transform: translateX(0);
  }
}
.loginLabel {
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: #1d2b21;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputMessageIcon {
  transform: translate(455px, -40px);
  width: 24px;
  height: 24px;
}
.buttonElement {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: left;
  margin-top: 32px;
  img {
    width: 24px;
    height: 24px;
  }
}
.inputContainer {
  display: flex;
  margin-top: 32px;
  div {
    gap: 8px;
    .LoginInput {
      width: 48px !important;
      height: 48px;
      border-radius: 12px;
      border: 1px solid #99a09b;
      font-size: 22px;
    }
  }
}
.sendButton {
  display: flex;
  padding: 16px 35px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background: #7dff85;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #2bb534;
    color: white;
  }
}
.cancelButton {
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: left;
  cursor: pointer;
}
