@import "../../../../Scss/responsive.scss";
.container {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.backButton {
  margin-bottom: 40px;
}
.accountСreation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    color: #1d2b21;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.4px;
  }
}
.accountAlready {
  display: flex;
  p {
    color: #6c756f;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 32px;
  }
  img {
    width: 24px;
    height: 24px;
    margin-left: 3px;
  }
}
.formContainer {
  width: 500px;
  height: 230px;
  margin-right: 40px;
  gap: 32;
}
.loginLabel {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.4px;
  color: #1d2b21;
}
.LoginInput {
  width: 500px;
  height: 56px;
  border-radius: 12px;
  border: 1px solid #99a09b;
  padding: 16px 24px;
  margin: 10px 10px 0 0;
  padding-right: 65px;
  transition: all 0.5s ease;

  &:hover {
    border-color: #1d2b21;
    transition: all 0.2s ease;
  }
}
.inputMessageIcon {
  transform: translate(455px, -40px);
  width: 24px;
  height: 24px;
}
.buttonElement {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  img {
    width: 24px;
    height: 24px;
  }
}
.sendButton {
  display: flex;
  padding: 16px 35px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 12px;
  background: #7dff85;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #2bb534;
    color: #ffffff;
    transition: all 0.3s ease;

    img {
      filter: invert(100%);
      transition: all 0.3s ease;
    }
  }
}
.cancelButton {
  width: 104pxpx;
  height: 56pxpx;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: left;
  cursor: pointer;
}
