*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.textContainer{
    margin-bottom: 32px;
    div{
        display: flex;
        width: 600pxpx;
        height: 24pxpx;
        gap: 2px;
    }

    h2{
    width: 366px;
    height: 35px;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #1D2B21;
    }
    p{
        font-family: Raleway;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.4000000059604645px;
        text-align: left;
        color: #6C756F;
        margin-top: 10px;

    }
    img{
       width: 24px;
       height: 24px;
       margin-top: 5px; 
       margin-left: 2px;
    }
}
.ChangePasswordFormContainer{
    width: 600px;
    height: 151px;
    gap: 10px;
}
.ChangePasswordInputs{
    display: flex;
}

.buttonContainer{
    display: flex;
}
.changePasswordLabel{
    width: 288px;
    height: 12px;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-align: left;
}
.changePasswordInput{
    width: 288px;
    height: 56px;
    padding: 16px 24px ;
    border-radius: 12px ;
    border: 1px solid #DDDFDE;
}