@import "../../../../styles/styles";

.container {
  position: fixed;
  top: 0;
  display: flex;
  width: 260px;
  min-height: 100vh;
  padding: 0px 24px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-right: 1px solid var(--Base-base-5, #dddfde);
  background: var(--Base-base-1, #fff);

  .title {
    display: flex;
    height: 84px;
    padding: 10px 0px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    h3 {
      @include textStyles($raleway, 20px, 700, #1d2b21, 24px);
      letter-spacing: 0.4px;
    }
  }
  .search {
    display: flex;
    padding: 10px 16px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Base-base-3, #f6f7f6);
    overflow: hidden;
    input {
      @include textStyles($raleway, 12px, 500, #99a09b, 16px);
      letter-spacing: 0.4px;
      width: 100%;
      border: none;
      background: transparent;
    }
  }
  .main {
    display: flex;
    padding: 16px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    overflow-y: auto;
    position: sticky;
    top: 0;
    &::-webkit-scrollbar {
      width: 1px;
    }
    .item {
      display: flex;
      padding: 8px 16px;
      align-items: flex-start;
      gap: 8px;
      cursor: pointer;
      align-self: stretch;
      border-radius: 12px;
      transition: $transition;
      &.active {
        background: var(--Natural-natural-3, #f5f5f5);
      }
      .photo {
        width: 38px;
        height: 38px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }
      .text {
        letter-spacing: 0.4px;
        h4 {
          @include textStyles($raleway, 14px, 700, #1d2b21, 24px);
        }
        p {
          @include textStyles($raleway, 10px, 400, #38443c, 16px);
        }
      }
      .mark {
        padding: 4px 0;
      }
    }
  }
}
