@import "../../Scss//responsive.scss";

.footer {
  display: flex;
  align-items: center;
  @include responsive769to1057 {
    margin-left: 50px;
  }

  @include mobileresponsive {
    display: none;
  }
  .copyright {
    color: #6c756f;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .termsPrivacy {
    display: flex;
    .term,
    .privacy {
      display: flex;
      padding: 2px 8px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: none;
      background-color: transparent;
      color: #000;
      font-family: Raleway;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.4px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        border-radius: 8px;
        background-color: #ecf1ff;
        color: #7da1ff;
      }
      &:active {
        color: #2b52b5;
        background-color: #c3d4ff;
      }
    }
  }
  .languageChosen {
    border: transparent;
    color: #1d2b21;
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    option {
      color: #1d2b21;
      font-family: Inter;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.4px;
      display: inline-block;
    }
  }
}
