@import "../../Scss//responsive.scss";

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-top: 20px;
  
  @include responsive769to1057 {
    margin-left: 50px;
  }
  p {
    color: #6c756f;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .term {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      border-radius: 8px;
      background-color: #ecf1ff;
      color: #7da1ff;
    }
    &:active{
      color: #2B52B5;
      background-color: #C3D4FF;
    }
  }
  .privacy {
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: transparent;
    color: #000;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      border-radius: 8px;
      background-color: #ecf1ff;
      color: #7da1ff;
    }
    &:active{
      color: #2B52B5;
      background-color: #C3D4FF;
    }
  }
  .languageChosen {
    border: transparent;
    color: #1d2b21;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
    option {
      color: #1d2b21;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.4px;
      display: inline-block;
    }
  }
}
