.container {
  display: flex;
  justify-content: space-between;
}
.left__side {
  width: 40%;
}
.loginContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 220px;
  padding-left: 80px;
}
