@import "../Scss/responsive.scss";
.container {
  display: flex;
  width: 100%;
  overflow: hidden; /*bu burda olmali deyil*/
}
.logo {
  margin: 56px 130px;
  position: absolute;
  left: 0;
  @include responsive769to1057 {
    margin: 36px 50px;
  }
}
.forgetPasswordContainer {
  position: absolute;
  right: 20%;
  text-align: center;
  top: 40%;
}

.right__side {
  width: 40%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  z-index: 9999999;
}
.left__side {
  width: 60%;
}
.rightImage {
  width: 40%;
}
