/* animation.scss */

.login-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.login-enter-active {
  opacity: 1;
  transform: translateX(20px);
  transition: opacity 1s linear, transform 1s linear;
}

.login-exit {
  opacity: 1;
  transform: translateX(0);
}

.login-exit-active {
  opacity: 0;
  transform: translateX(-300px);
  transition: opacity 0.5s ease-in-out, transform ease 0.5s;
}

.CreateAccount-enter {
  opacity: 0;
  transform: translateX(-30px);
  position: absolute;
}

.CreateAccount-enter-active {
  opacity: 1;
  transform: translateX(31px);
  transition: opacity 1s ease, transform 1s linear;
  top: 138px;
}

.CreateAccount-exit {
  opacity: 1;
  transform: translateX(0);
  position: absolute;
  top: 138px;
}

.CreateAccount-exit-active {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.active {
  display: block;
  margin-top: 150px;
  margin-bottom: 150px;
}
