@import "../../Scss/responsive.scss";

.headerContainer {
  display: inline-block;
}
.container {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}
.logo {
  display: inline-block;
  margin: 56px 130px;
  width: 91px;
  height: 24px;
  position: relative;
  z-index: 3;

  @include responsive769to1057 {
    margin: 36px 50px;
  }
}

.right__side {
  width: 40%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  z-index: 9;
}
.left__side {
  width: 60%;
}
