/* animation.scss */

.login-enter {
    opacity: 0;
    transform: translateX(-20px);
    position: absolute;
  }
  
  .login-enter-active {
    opacity: 1;
    transform: translateX(20px);
    transition: opacity 1s linear, transform 1s linear ;
    position: absolute;
    
  }
  
  .login-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .login-exit-active {
    opacity: 0;
    transform: translateX(-300px);
    transition: opacity 0.5s ease-in-out, transform ease 0.5s ;
  }
  

  .CreateAccount-enter {
    opacity: 0;
    transform: translateX(-30px);
    position: absolute;

}

.CreateAccount-enter-active {
    opacity: 1;
    transform: translateX(31px); 
    transition: opacity 1s ease, transform 1s linear ;
    position: absolute;
    top: 26px;
}

.CreateAccount-exit {
    opacity: 1;
    transform: translateX(0); 
    position: absolute;
    top: 60px;
  }
  
  .CreateAccount-exit-active {
    opacity: 0;
    transform: translateX(-200px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
 
  .active{
    color: var(--Main-main-300, #7dff85);
    border-bottom: 2px solid var(--Main-main-300, #7dff85);
    padding-bottom: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
  }