.right__banner {
  width: 40%;
  height: 99.5vh;
  background-color: #3dff49;
  position: relative;
  top: 0;
  right: 0;
}
.rightBannerText {
  position: absolute;
  bottom: 50px;
  left: 100px;
  gap: 10px;

  h2 {
    font-weight: 900;
    font-size: 56px; /* Font size */
    line-height: 55px; /* Line height */
    letter-spacing: 0.4px; /* Letter spacing */
    color: #ffffff;
    width: 417px;
    height: 110px;
  }
  .learnMore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 70px;
    padding: 10px 16px;
    border-radius: 8px;
    border: 2px solid;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-family: Raleway;
    cursor: pointer;
    background-color: transparent;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
.rightImg {
  width: 100%;
  mix-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  position: absolute;
}
